
# Editor directories and OS files
# Environment files
# Logs and temporary files
# Node.js
# Python
# Virtual environments
*$py.class
**/__pycache__/
*.egg-info/
*.log
*.py[cod]
.DS_Store
.eggs/
.env
.env
.env.*
.idea/
.vscode/
/backend/__pycache__/
/frontend/.vite/
/frontend/coverage/
/frontend/dist/
/frontend/node_modules/
ENV/
Thumbs.db
build/
dist/
env/
npm-debug.log*
venv/
yarn-debug.log*
yarn-error.log*
